# Dependencies
node_modules/
Frontend/node_modules/
Backend/node_modules/

# Environment Variables
.env
Frontend/.env
Backend/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Production Build
Frontend/build/

# IDE & OS Files
.DS_Store
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Frontend/public/product/banner.png
